section.our-team
	h2.our-team__header.section-heading__our-team our team
	div(class="slider js_slider")
		div(class="slider__content js_frame")
			ul(class="slides js_slides")
				li(class="slider__slide js_slide") 1
				li(class="slider__slide js_slide") 2
				li(class="slider__slide js_slide") 3
				li(class="slider__slide js_slide") 4
				li(class="slider__slide js_slide") 5
				li(class="slider__slide js_slide") 6
				li(class="slider__slide js_slide") 7
				li(class="slider__slide js_slide") 8
				li(class="slider__slide js_slide") 9
				li(class="slider__slide js_slide") 10
				li(class="slider__slide js_slide") 11
				li(class="slider__slide js_slide") 12
		span(class="js_prev slider__prev")
			span(class="slider__svg-element")
				svg(xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5")
					g
						path(fill="#0022ff" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z")
		span(class="js_next slider__next")
			span(class="slider__svg-element")
				svg(xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5")
					g
						path(fill="#0022ff" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z")