%wrapper{
	margin: 0 auto;
	max-width: 1170px;
	padding: 0px 15px;
	width: 100%;
}

.section-heading{
	&__boards{
		@include section-heading(8.138rem, (
				transform: rotate(270deg),
				transform-origin: right top,
				position: absolute,
				top: -17px,
				right: 121px,
				transition: opacity 0.3s
			))
		&_errored{
			opacity: 0;
		}
	}

	&__about{
		@include section-heading(12.65rem)
	}

	&__our-team{
		@include section-heading(11.875rem);
	}

	&__insta-header{
		@include section-heading(5.625rem);	
	}
}

%blue-main-btn{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 14px 32px;
	font: {
		family: 'Montserrat';
		weight: 600;
		size: 0.875rem;
	} 
	background: $main-blue;
}

.overflow-hidden{
	overflow: hidden;
}

%montserrat-header{
	position: relative;
	text-align: center;
	p{
		font: {
			size: 1.125rem;
			weight: 600;
		}
		color: $black;
		letter-spacing: 2.7px;
		margin: 0;
		text-transform: uppercase;
	}

	&:before{
		content: 'x';
		position: absolute;
		bottom: -34px;
		left: 0px;
		width: 100%;
		text-align: center;
		color: $black;
		font:{
			size: 1.425rem;
			weight: 600;
		}
	}
}