%wrapper{
	margin: 0 auto;
	max-width: 1170px;
	padding: 0px 15px;
	width: 100%;
}
.section-heading{
	text-transform: uppercase;
	color: #fafafa;
	font:{
		family: "Montserrat";
		weight: 600;
	}
	margin: 0;
	letter-spacing: 11px;
	&__boards{
		transform: rotate(270deg);
		transform-origin: right top;
		font-size: 8.138rem;
		position: absolute;
		top: -17px;
		right: 121px;
	}
}