%wrapper{
	margin: 0 auto;
	max-width: 1170px;
	padding: 0px 15px;
	width: 100%;
}

.section-heading{
	&__boards{
		@include section-heading(8.138rem, (
				transform: rotate(270deg),
				transform-origin: right top,
				position: absolute,
				top: -17px,
				right: 121px,
				transition: opacity 0.3s
			))
		&_errored{
			opacity: 0;
		}
	}
}

%blue-main-btn{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 14px 32px;
	font: {
		family: 'Montserrat';
		weight: 600;
		size: 0.875rem;
	} 
	background: $main-blue;
}