@import 'header-block/_header-module.scss';
@import 'header-block/_buy-module.scss';
@import 'header-block/_board-wall.scss';

.logo h1{
	color: $black;
	margin: 0px;
	font:{
		size: 2.125rem;
		family: 'Montserrat';
		weight: 700;
	}
}