@import 'socials-section/_instagram.scss';
@import 'socials-section/_facebook.scss';

.socials-section{
	position: relative;
	text-align: right;
	&:after{
		content: '';
		display: table;
		clear: both;
	}
	@extend %wrapper;
	&__facebook{
		right: 45px;
		top: 58px;
	}

	&__instagram{
		margin-bottom: -230px;
	}
}