section.buy-module
	h2.section-heading.section-heading__boards.buy-module__header Boards
	.buy-module__spinner.buy-module__spinner_hidden.js-board-spinner
		img(src="./images/ring-alt.gif", alt="")
	.buy-module__content-zone.js-board-content

	if (counts > 1)
		.buy-module__switcher
			button.buy-module__switch-arrow.buy-module__left-arrow.js-backward-arrow
				svg
					use(xlink:href="#right-arrow")
			button.buy-module__switch-arrow.buy-module__right-arrow.js-forward-arrow
				svg
					use(xlink:href="#right-arrow")
	.buy-module__counters
		.buy-module__digits
			span.buy-module__digit-item.buy-module__current.js-current-position
				|01
			span.buy-module__digit-item.buy-module__delimiter
				|/
			span.buy-module__digit-item.buy-module__count= (pugModules.formatNumber(counts))