section.buy-module
	h2.section-heading.section-heading__boards.buy-module__header Boards
	.buy-module__spinner
		img(src="./images/ring-alt.gif", alt="")
	if (counts > 1)
		.buy-module__switcher
			button.buy-module__switch-arrow.buy-module__left-arrow
				svg
					use(xlink:href="#right-arrow")
			button.buy-module__switch-arrow.buy-module__right-arrow
				svg
					use(xlink:href="#right-arrow")
	.buy-module__counters
		.buy-module__digits
			span.buy-module__digit-item.buy-module__current
				|01
			span.buy-module__digit-item.buy-module__delimiter
				|/
			span.buy-module__digit-item.buy-module__count= (pugModules.formatNumber(counts))