@import 'helpers/_variables.scss';
@import 'helpers/_mixins.scss';
@import '_helpers.scss';
@import '_blocks.scss';

.svg-sprites{
	display: none;
}

body{
	margin-bottom: 300px;
}

.hidden{
	display: none;
}