section.about-section.js-section(data-sectionname="about")
	h2.about-section__header.section-heading__about About us
	img.about-section__back-image(src='./images/about-back.jpg')
	include text-block
	include video-block