.about-section__text-block.about-text-block
	.about-text-block__header
		p We are Surfers co.
	.about-text-block__short-description 
		p Lorem ipsum dolor sit amet, aeneam consectetur adipiscing elit. Fusce iaculis feugiat arcunum fermentum hendrerit. Suspendisse auctor labor nisi, et interdum diam facilisis, aliquam pulvinar semi egetis belle sollicitudin ut. Nullam tincidun finibustus scelerisque.
	.about-text-block__more-link
		a.about-text-block__read-more.js-about-more(href="#") Read more