.footer__navigation
	ul.footer__nav-list
		li.footer__nav-item 
			a(href="#") Boards
		li.footer__nav-item 
			a(href="#") About Us
		li.footer__nav-item 
			a(href="#") Our Team
	ul.footer__nav-list
		li.footer__nav-item 
			a(href="#") Latest Updates
		li.footer__nav-item 
			a(href="#") Socials