.footer__subscribe.email-subsribe
	.email-subsribe__head
		p Subscribe to our newsletter
	.email-subsribe__email
		.email-subsribe__input-el
			.email-subsribe__mail-icon
				svg
					use(xlink:href="#sub-mail")
			input.email-subsribe__input(name="email" placeholder="Your e-mail")