.socials__instagram.instagram
	h2.instagram__insta-header.section-heading__insta-header instagram
	iframe(src="//lightwidget.com/widgets/1353846612d7588e9d866c9c5771930a.html" scrolling="no" allowtransparency="true" class="instagram__widget lightwidget-widget")
	a(href="https://www.instagram.com/alovingwow/").instagram__insta-footer
		span.instagram__svg-icon
			svg
				use(xlink:href="#insta")
		span.instagram__insta-FU Follow us
		span.instagram__insta-name @alovingwow