.about-text-block{
	position: absolute;
	left: 20%;
	top: 123px;
	z-index: 2;
	min-height: 82%;
	width: 26%;
	background: #ffffff;
	padding: {
		right: 5%;
		left: 16px;
		top: 5%;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 150rem;
		top: 0px;
		right: 100%;
		background: inherit;
	}

	&__header{
		position: relative;
		p{
			font: {
				size: 1.125rem;
				weigth: 600;
			}
			color: $black;
			letter-spacing: 2.7px;
			margin: 0;
			text-transform: uppercase;
		}

		&:before{
			content: 'x';
			position: absolute;
			bottom: -34px;
			left: 0px;
			width: 100%;
			text-align: center;
			color: $black;
			font:{
				size: 1.425rem;
				weight: 600;
			}
		}
	}

	&__short-description{
		text-align: left;
		margin-top: 43px;
		overflow: hidden;
		max-height: 259px;
		p{
			display: block; 
			margin: 0px;
			color: $black;
			line-height: 2.375rem;
			font: {
				style: italic;
				family: Playfair Display;
				size: 1.175rem;
			}
		}
	}

	&__more-link{
		text-align: left;
	}

	&__read-more{
		font-size: 1rem;
		text-decoration: none;
		color: $main-blue;
		line-height: 40px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom: -4px;
			left: 0px;
			height: 2px;
			background: $main-blue;
			width: 100%;
		}
	}
}