div(class="slider js_slider")
	div(class="slider__content js_frame")
		ul(class="slider__slides js_slides")
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="tajburrow") 
				img(class="teammate-slide__image" src="./images/team/photo_1.jpg", alt="")
				p.teammate-slide__name Taj Burrow
				p.teammate-slide__mail @tajamos
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place Yallingup, Australia
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="maliamanuel")
				img(class="teammate-slide__image" src="./images/team/photo_2.jpg", alt="")
				p.teammate-slide__name Malia Manuel
				p.teammate-slide__mail @maliamanuel
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place Yallingup, Australia
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="macycallaghan")
				img(class="teammate-slide__image" src="./images/team/photo_3.jpg", alt="")
				p.teammate-slide__name Macy Callaghan
				p.teammate-slide__mail @macyjanecallaghan
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place San Clemente, CA
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="ianwalsh") 
				img(class="teammate-slide__image" src="./images/team/photo_4.jpg", alt="")
				p.teammate-slide__name Ian Walsh
				p.teammate-slide__mail @ian.walsh
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place Maui, Hi
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="susansmith") 
				img(class="teammate-slide__image" src="./images/team/photo_5.jpg", alt="")
				p.teammate-slide__name Susan Smith
				p.teammate-slide__mail @susan.sm
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place New York, USA
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="timjackson")
				img(class="teammate-slide__image" src="./images/team/photo_6.jpg", alt="")
				p.teammate-slide__name Tim Jackson
				p.teammate-slide__mail @timijase
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place Canada, Ottawa
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="mickgrey")
				img(class="teammate-slide__image" src="./images/team/photo_7.jpg", alt="")
				p.teammate-slide__name Mick Grey
				p.teammate-slide__mail @mickigrey
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place Yallingup, Australia
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="jennythompson")
				img(class="teammate-slide__image" src="./images/team/photo_8.jpg", alt="")
				p.teammate-slide__name Jenny Thompson
				p.teammate-slide__mail @jennytj
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place San Clemente, CA
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="miladunst")
				img(class="teammate-slide__image" src="./images/team/photo_9.jpg", alt="")
				p.teammate-slide__name Mila Dunst
				p.teammate-slide__mail @miladunst
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place Maui, Hi
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="morganmitch")
				img(class="teammate-slide__image" src="./images/team/photo_10.jpg", alt="")
				p.teammate-slide__name Morgan Mitch
				p.teammate-slide__mail @mmjes
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place Yallingup, Australia
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="sarahbrown")
				img(class="teammate-slide__image" src="./images/team/photo_11.jpg", alt="")
				p.teammate-slide__name Sarah Brown
				p.teammate-slide__mail @saraxh
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place Canada, Ottawa
			li(class="slider__slide teammate-slide js-teammate" data-slidekey="emmajenkins")
				img(class="teammate-slide__image" src="./images/team/photo_12.jpg", alt="")
				p.teammate-slide__name Emma Jenkins
				p.teammate-slide__mail @emmaliroy
				span.teammate-slide__sea-svg
					svg
						use(xlink:href="#sea")
				span.teammate-slide__placeholder-svg
					svg
						use(xlink:href="#placeholder")
					p.teammate-slide__place New York, USA
	span(class="js_prev slider__prev")
		span(class="slider__svg-element")
			svg(xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5")
				g
					path(fill="#0022ff" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z")
	span(class="js_next slider__next")
		span(class="slider__svg-element")
			svg(xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5")
				g
					path(fill="#0022ff" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z")